@model IEnumerable<Neonatal_App.Models.Client>

@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Information</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">

    <style>
        .caption {
            text-align: center;
        }

        a.link, 
        a.link:active, 
        a.link:link, 
        a.link:visited { 
            color: #fff; 
        }

    </style>
</head>
<body>
    <br />
    <!--begin filter-->
    <div class="filter-container">
        @using (Html.BeginForm("Index", "Clients", FormMethod.Get))
            {
            <p>
                Search by first name: @Html.TextBox("SearchString") <br />
                <br />
                <button id="button" type="submit" value="Filter" class="btn btn-success">Filter</button>
        <button class="btn btn-success">@Html.ActionLink("Create New", "Create", null, new { @class = "link" })</button>
            </p>
        }
    </div>
    <div>
    </div>
    <br />
    <!--begin table-->
    <table>
        <caption class="caption">Client List</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
                <th scope="col">Make Changes</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        { 
        <tbody>
            <tr>
                <th scope="row">
                    @Html.DisplayFor(modelItem => item.first_name)
                    @Html.DisplayFor(modelItem => item.last_name)
                </th>
                <th scope="row">
                    @Html.ActionLink("Click Here", "Details", new {id = item.id})
                </th>
                <th scope="row">
                    @Html.ActionLink("Edit", "Edit", new { id = item.id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </th>
            </tr>
        </tbody>
    }
 </table>
<!--bottom nav-->
    <div class="navigate">
        @Html.ActionLink("Full List", "Index", "Clients", null, new { @class = "btn btn-default" })
    </div>
</body>
</html>
