@model Neonatal_App.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<link href="~/Content/custom.css" rel="stylesheet" />

<!--begin style-->
<style>
    .modal-header, h4, .close {
        background-color: #25b8dc;
        color: white;
        text-align: center;
        font-size: 30px;
    }
</style>

<!--begin registration-->

<div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4><b>Register For Access</b> <span class="glyphicon glyphicon-pencil"></span> </h4>
            </div>
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <!--<div class="form-group">
        <label for="email"><span class="glyphicon glyphicon-plus-sign"></span> Email</label>
        <input type="text" name="form-email" placeholder="" class="form-email form-control" id="form-email">
    </div>-->
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />

                    <div class="form-group">
                        @Html.AntiForgeryToken()
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Register" class="btn btn-success btn-block" style="background-color: #25b8dc; border-color: #25b8dc;"><span class="glyphicon glyphicon-off"></span>Register</button>
                        </div>
                    </div>
             
             }
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.0/raphael-min.js"></script>


<script type='text/javascript'>
    $(document).ready(function () {
        //$("#myBtn").click(function(){
        $("#myModal1").modal();
        //});
    });
</script>
