@model Neonatal_App.Models.Survey

@{
    ViewBag.Title = "Create";
}

<!--begin form-->
<form action="Create" method="post">

    <h4>Create New Survey</h4>
    <hr />

    <div class="form-group">
        @Html.AntiForgeryToken()
        @Html.LabelFor(model => model.client_id, "client_id", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("client_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.client_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <h5>1. Please enter the mother's race.</h5>
    @Html.RadioButtonFor(m => m.Q1_race, "1") Non-Hispanic African American<br>
    @Html.RadioButtonFor(m => m.Q1_race, "2") Non-Hispanic White<br>
    @Html.RadioButtonFor(m => m.Q1_race, "3") Non-Hispanic Asian<br>
    @Html.RadioButtonFor(m => m.Q1_race, "4") Hispanic/Latino<br>
    @Html.RadioButtonFor(m => m.Q1_race, "5") Non-Hispanic Other<br>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}