@model Neonatal_App.Models.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Survey Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <div>
        <h5><b>Please choose the client's name from the dropdown below</b></h5>
        @Html.DisplayFor(model => model.Client.first_name)<br>
        <br />

        <h5><b>1. Please enter the mother's race.</b></h5>
        <label for="Non-Hispanic African American">@Html.RadioButtonFor(m => m.Q1_race, "1", new { disabled = "disabled" }) Non-Hispanic African American</label><br>
        <label for="Non-Hispanic White">@Html.RadioButtonFor(m => m.Q1_race, "2", new { disabled = "disabled" }) Non-Hispanic White</label><br>
        <label for="Non-Hispanic Asian">@Html.RadioButtonFor(m => m.Q1_race, "3", new { disabled = "disabled" }) Non-Hispanic Asian</label><br>
        <label for="Hispanic/Latino">@Html.RadioButtonFor(m => m.Q1_race, "4", new { disabled = "disabled" }) Hispanic/Latino</label><br>
        <label for="Non-Hispanic Other">@Html.RadioButtonFor(m => m.Q1_race, "5", new { disabled = "disabled" }) Non-Hispanic Other</label><br>
        <br />

        <h5><b>2. Please enter the mother's ward.</b></h5>
        <input type="number" name="q2" disabled value="1" id="Q4_ward"><br>
        <br />

        <h5><b>3. Is this your first child?</b></h5>
        @Html.RadioButtonFor(m => m.Q3_first_child, "1", new { disabled = "disabled" }) Yes<br>
        @Html.RadioButtonFor(m => m.Q3_first_child, "2", new { disabled = "disabled" }) No<br>
        @Html.RadioButtonFor(m => m.Q3_first_child, "3", new { disabled = "disabled" }) Prefer not to comment/Unsure<br>
        <br />

        <h5><b>4. Was your previous child(ren) delivered prematurely?</b></h5>
        @Html.RadioButtonFor(m => m.Q4_prem_birth, "1", new { disabled = "disabled" }) Yes<br>
        @Html.RadioButtonFor(m => m.Q4_prem_birth, "2", new { disabled = "disabled" }) No<br>
        @Html.RadioButtonFor(m => m.Q4_prem_birth, "3", new { disabled = "disabled" }) Prefer not to comment/Unsure<br>
        <br />
    </div>
</div>
<!--navigation-->
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
