@model IEnumerable<Neonatal_App.Models.Survey>

@{
    ViewBag.Title = "Index";
}


<h4>Client</h4><!--changed from h2 to h4 for uniformity of pages-->

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Risk Score
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.first_name)
                @Html.DisplayFor(modelItem => item.Client.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.risk_score)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>